.setUpH3 {
  margin-left: 1vh;
  font-size: medium;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.setUpH32 {
  margin-left: 1vh;
  margin-top: 1vh;
  font-size: 0.95rem;
  text-align: center;
  font-style: italic;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.setUpHeader {
  margin-left: 1vh;
  text-align: center;
  font-size: x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #075C1D;
}
.setupinfo {
  display: block;
  position: fixed;
  width: 48%; 
  background-color: #F9FBFC;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  height: 13vh;
  margin-top: 1px;
}
.renderdiv2 {
  display: block;
  position: fixed;
  width: 48%; 
  float:left; 
  height:700;  
  margin-left: 1px;
  margin-right: 1px;
  margin-top: 13vh;
  border: 2px solid darkgrey;
}
.small-render-list {
   margin-top: 1px;
   float: left;
   width: 40%;
}
.small-render-list-left {
  margin-top: 0px;
  float: right;
  width: 40%;
}
.small-render-list-middle {
  width: 20%;
  display: inline-block;
  min-height: 700px;
  margin-right: 0px;
  background-color: rgb(177, 180, 176);
}
.small-render-list-right {
  margin-top: 0px;
  margin-left: 20vh;
}
.divTableS{
	display: block;  
  width: 100%;
  float: left;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin-top: 0.8vh;
  border-radius: 5px;
}
.divTableRowS {
  display: inline-flex; 
}
.divTableRowS h3{
  color: whitesmoke; 
}
.divTableHeadingS {
	background-color: rgb(221, 233, 221);
	display: table-header-group;
}
.divTableCellS, .divTableHeadS {
	
    display: block;
    min-width: 16vh;
    padding-top: 10px;
    padding-left: 15px;
}

.small {
  display: flex;
  max-width: 100%;
  height: 10%;
  min-height: 5vh;
  background-color: rgb(17, 101, 143);
  margin-top: 2px;
  border-radius: 8px;
  border: 2px;
  border-color: black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.26);
}
.medium {
  display: flex;
  width: 100%;
  min-height: 11.2vh;
  background-color: #202A45;
  margin-top: 2px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.26);
}
.large {
  display: flex;
  width: 100%;
  min-height: 13vh;
  background-color: #828FA5;
  margin-top: 2px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.26);
}
.small:hover .divTableRow2 { 
  display: table-row;
  transform: translate(2px, 2px) scaleY(1.03) scaleX(1.03);
  transition: transform .8s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.26);

}
.small:hover { 
 
  transform: translate(2px, 2px) scaleY(1.03) scaleX(1.03);
  transition: transform .8s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.26);

}
.medium:hover {
  transform: translate(2px, 2px) scaleY(1.03) scaleX(1.03);
  transition: transform .8s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.26);
}
.large:hover {
  transform: translate(2px, 2px) scaleY(1.03) scaleX(1.03);
  transition: transform .8s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.26);
} 
.divTableBodyS:hover { 
  background-color: rgb(243, 250, 243);
  display: table-row-group;
  transition: transform .3s;
  transform: scale(1.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.26);
  
}
.divTableBodyS:hover .divTableRow2 {
  display: table-row;
  
}
.divTableRow2 {
  display: none;
  
}
#middle {
  display: block;
  width: 100%;
  
  background-color:yellow;
}
.petHolder {
  display: inline-table;
}
#hidePet {
  width:100px;
  display:block;
  float: right;
  margin-top: 2vh;
}