.divTable{
	display: table;
  width: 100%;
  width: 100%;
  height: 90px;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin-bottom: 2vh;
  border-radius: 5px;
}
.divTableRow {
  display: table-row;
  
}
.divTableHeading {
	background-color: rgb(221, 233, 221);
	display: table-header-group;
}
.divTableCell, .divTableHead {
	
	display: table-cell;
  padding-top: 10px;
  padding-left: 15px;
}
.divTableHeading {
	background-color: rgb(221, 233, 221);
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: rgb(221, 233, 221);
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}


#deletebtn {
    background: #85144b;
    float: right;
    margin-bottom: 0vh;
    margin-right: 4vh;
    font: inherit;
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    color: white;
    cursor: pointer;
}
#deletebtn:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px black; 
}



.divTableRow2 {
  display: table-row;
  min-width: 90vh;
}
