h3 {
  font-weight: 800;
}
.inner-text {
  font-family: sans-serif;
  color: brown;
}

.divTable{
	display: table;
  width: 100%;
  width: 100%;
  height: 90px;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin-top: 2vh;
  border-radius: 5px;
}
.divTableRow {
  display: table-row;
  
}
.divTableHeading {
	background-color: rgb(221, 233, 221);
	display: table-header-group;
}
.divTableCell, .divTableHead {
	
	display: table-cell;
  padding-top: 10px;
  padding-left: 15px;
}
.divTableHeading {
	background-color: rgb(221, 233, 221);
	display: table-header-group;
	font-weight: bold;
}
.divTableFoot {
	background-color: rgb(221, 233, 221);
	display: table-footer-group;
	font-weight: bold;
}
.divTableBody {
  display: table-row-group;
}
.divTableBody:hover { 
  background-color: rgb(243, 250, 243);
  display: table-row-group;
  transition: transform .3s;
  transform: scale(1.2);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.26);
}
.divTableBody:hover .divTableRow2 {
  display: table-row;
 
}
.divTableRow2 {
  display: none;
  
}
