.main-navigation__items button {
    text-decoration: none;
    color: white;
    padding: 0.25rem 0.5rem;
    border: none;
    font: inherit;
    background: transparent;
    cursor: pointer;
    vertical-align: middle;
    margin: 0;
  }
  
  .main-navigation__items a:hover,
  .main-navigation__items a:active,
  .main-navigation__items a.active,
  .main-navigation__items button:hover,
  .main-navigation__items button:active {
    background: #ffffff;
    color: #5101d1;
    border-radius: 5px;
  }