.status-- {
    position: absolute;
    width: 45%;
    margin-right: -5px;
}

.status {
    position: -webkit-sticky;
    position: fixed;
    margin-right: -5px;
    margin-left: 8.1px;
    width: 46.75%;
    margin-top: 13px;
    background-color: #A1AAA1;
    z-index: 3;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #075C1D;
}
.status-display h4 {
    text-align: left;
    margin-left: 1vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px black;

}
.status-display {
    width: 52%;
    margin-left: -16px;
    height: 230px;
    background: #EEEFF2;
    margin-top: 0.8vh;
    overflow: hidden;
    position: fixed;
    z-index: 3;
    background-color: #F4F5F1;
}
#wrapper {
    width: 100%;
    display:flex;
    margin-bottom: -2vh;
    z-index: 3;
}
#capacity-label {
    width: 200px;
    
    
}
#progress-bar {
    width: 60%;
    border: 1px solid #075C1D;
    float: right;
}
.col {
    margin-top: 4px;
    margin-left: 3px;
    margin-right: 65px;
    height: 22vh;
    background-color: #F9FBFC;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 8px;
    z-index: 3;
}
.temporary {
    border-color: black;
    border-style: dotted;

}
.col p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bolder;
    color: #075C1D
}

.report-btn {
    position: flex;
    float: right;
    margin-top: -3.7vh;
    margin-right: 10%;
    background: #075C1D;
    font: inherit;
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    color: white;
    cursor: pointer;
}
.report-btn:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #0af04f; 
  }