.status {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.status-display h4 {
    text-align: left;
    margin-left: 1vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border: 1px black;
}
.status-display {
    width: 100%;
    height: 230px;
    background: #EEEFF2;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    margin-top: 2vh;
    overflow: hidden;
   
}
#wrapper {
    width: 100%;
    display:flex;
    margin-bottom: -2vh;
}
#capacity-label {
    width: 200px;
    
    
}
#progress-bar {
    width: 60%;
    border: 1px solid green;
    float: right;
}
