.Login-component {
    background-image: url(../assets/grass.jpg);

    max-width: 100%;
    height: 900px;
    margin-top: -0.8vh;
    padding: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.auth-form {
    margin: auto;
    width: 20%;
    padding-top: 160px;
}
h1 {
    color:forestgreen;
    text-align: center;
} 
  .form-control label,
  .form-control input {
    width: 100%;
    display: block;
    color: black;
    font-size: medium;
    font-weight: 600;
  }
  
  .form-control label {
    margin-bottom: 0.5rem;
  }
  
  .form-control {
    margin-bottom: 1rem;
  }
  .form-actions {
      display: flex;
      justify-content: center;
  }
  .form-actions button {
    font: inherit;
   padding: 0.25rem 1rem;
    margin-right: 1rem;
    background: #075C1D; 
    border: 1px solid white;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    color: white;
    cursor: pointer;
  }
  
  .form-actions button:hover,
  .form-actions button:active {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #0af04f;
  }