.renderdiv {
    width: 48%; 
    float:left; 
    height:700px; 
    background:gray; 
    margin-left: 10px;
    margin-right: 5px;
    margin-top: 2vh;
  }
  .bookingsdiv {
    width: 48%; 
    float:left; 
    height:100px; 
    
    margin-right:10px;
    margin-left: 5px
  }

#addbtn {
    background: darkgreen;
    display: flex;
    float: right;
    margin-bottom: -1vh;
    font: inherit;
    border: 1px solid darkgreen;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    color: white;
    cursor: pointer;
}
.bookingsRender {
    margin-top: 40px;
    margin-left: -10px;
    height: 500px;
    width: 100%;
}
.dateSelect {
    text-align: center;
    margin-top: 2vh;
}
.btn-5 {
    border: 0 solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
    outline: 1px solid;
    outline-color: rgba(255, 255, 255, .5);
    outline-offset: 0px;
    text-shadow: none;
    transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  } 
  
  #addbtn:hover {
    border: 1px solid;
    box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 1px 1px 2px #0af04f; 
  }